{{ define "main" }}

<main class="container mx-auto flex flex-col md:flex-row">

    <article class="md:basis-3/4">

        <h1 class="text-3xl py-3 font-bold text-center text-stone-600">{{- .Title -}}</h1>

        {{ range .Paginator.Pages }}

        <section class="m-3 p-3 bg-stone-50 rounded shadow-lg">
            <a class="text-2xl font-bold" href="{{ .RelPermalink }}">{{- .Title -}}</a>
            <p class="my-3">{{ .Summary }}</p>
            {{ if .Truncated }}
            <p>
                <a href="{{ .RelPermalink }}"
                    class="bg-stone-600 hover:bg-stone-900 text-stone-50 font-bold py-3 px-3 border border-stone-900 rounded hover:transition hover:duration-300 text-center">Read
                    more →</a>
            </p>
            {{ end }}
        </section>

        {{ end }}

        {{- partial "includes/pagination" . -}}

    </article>

    {{- partial "aside.html" . -}}

</main>

{{ end }}