<h3>Contacter : {{ .Site.Params.author }}</h3>

<form action="" class="my-3 flex flex-col">
<label for="sujet" class="font-bold">Sujet</label>
<input type="text" name="sujet" id="sujet" class="border border-stone-600 my-3 p-3 rounded">
<label for="grief" class="font-bold">Grief</label>
<textarea name="grief" id="grief" cols="30" rows="12" class="border border-stone-600 my-3 p-3 rounded"></textarea>
<button type="submit" class="w-full my-3 bg-stone-100 py-2 border border-stone-600 rounded hover:bg-stone-300 hover:transition hover:duration-300 font-bold">Soumettre</button>
</form>

