<section class="">

    <div class="container mx-auto">

        <h3 class="">Contact: {{ .Site.Params.author }}</h3>

        <form action="" class="my-3 flex flex-col">
            <label for="email" class="font-bold">Email</label>
            <input type="email" name="email" id="email" class="border border-purple-300 my-3 p-3 rounded text-black"
                placeholder="Your email for response!">
            <label for="sujet" class="font-bold">Subject</label>
            <input type="text" name="subject" id="subject" class="border border-purple-300 my-3 p-3 rounded text-black"
                placeholder="Your subject">
            <input type="hidden" name="joke" id="joke">
            <label for="grief" class="font-bold">Grief</label>
            <textarea name="grief" id="grief" cols="36" rows="18" class="border border-purple-300 my-3 p-3 rounded text-black"
                placeholder="Your text"></textarea>
            <button type="submit"
                class="bg-stone-600 hover:bg-stone-900 text-stone-50 font-bold py-3 px-3 border border-stone-900 rounded hover:transition hover:duration-300 text-center">Submit</button>
        </form>

    </div>

</section>
